h1 {
    color: white;
}

.inputComp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.inputContainer input {
    padding: 1rem .5rem;
    padding-right: 5rem;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 16px;
    background-color: black;
    color: white;
}

.buttonContainer {
    margin-left: 2rem;
}

.buttonContainer button {
    padding: .7rem 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 225, 29, 0.662);
    color: black;
    font-size: 1.2rem;
}